html{
    position: relative;
}
body{
    margin-bottom: 200px;
    margin-top: 40px;
}

.jumbotron img {
    width: 200px;
    border: 5px solid #666;
}
hr {
    width: 250px;
    border-top: 3px solid #999
}
section {
    min-height: 600px
}
.about{
    background-color: #eee
}
.contact{
    min-height: 800px
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100PX;
    background-color: #333;
    padding-top: 30px;
}
footer p{
    color:beige;
    font-size: 1em
}